<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>registering_already_registered_user</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registering_user_withmissing_Mandatoryfield</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registeringuser_byvarying_pwdandconpwd</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registering_userwithout_EnteringAnyData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registerationwithalldata</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Registering_user_by_checking_field_validation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registerationwithMandatoryfield</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
