<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegestrationPageAut.Registering_user_by_checking_field_validation()[pri:7, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">Registering_user_by_checking_field_validation</td> 
  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:10</td>   <td>-34038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegestrationPageAut.afterMethod()[pri:0, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:16</td>   <td>-28055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegestrationPageAut.afterMethod()[pri:0, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:21</td>   <td>-23357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegestrationPageAut.afterMethod()[pri:0, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:27</td>   <td>-17653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegestrationPageAut.afterMethod()[pri:0, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:33</td>   <td>-11637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegestrationPageAut.afterMethod()[pri:0, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:39</td>   <td>-5213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegestrationPageAut.afterMethod()[pri:0, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:46</td>   <td>1359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegestrationPageAut.afterMethod()[pri:0, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:01</td>   <td>-42788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegestrationPageAut.beforeMethod()[pri:0, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:10</td>   <td>-33949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegestrationPageAut.beforeMethod()[pri:0, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:16</td>   <td>-27973</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegestrationPageAut.beforeMethod()[pri:0, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:21</td>   <td>-23284</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegestrationPageAut.beforeMethod()[pri:0, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:27</td>   <td>-17567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegestrationPageAut.beforeMethod()[pri:0, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:33</td>   <td>-11550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegestrationPageAut.beforeMethod()[pri:0, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:39</td>   <td>-5135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegestrationPageAut.beforeMethod()[pri:0, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:15</td>   <td>-29655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegestrationPageAut.registerationwithMandatoryfield()[pri:2, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">registerationwithMandatoryfield</td> 
  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:08</td>   <td>-35721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegestrationPageAut.registerationwithalldata()[pri:1, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">registerationwithalldata</td> 
  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:31</td>   <td>-13235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegestrationPageAut.registering_already_registered_user()[pri:5, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">registering_already_registered_user</td> 
  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:25</td>   <td>-18876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegestrationPageAut.registering_user_withmissing_Mandatoryfield()[pri:4, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">registering_user_withmissing_Mandatoryfield</td> 
  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:21</td>   <td>-23676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegestrationPageAut.registering_userwithout_EnteringAnyData()[pri:3, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">registering_userwithout_EnteringAnyData</td> 
  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>17/11/27 14:55:37</td>   <td>-7057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegestrationPageAut.registeringuser_byvarying_pwdandconpwd()[pri:6, instance:RegestrationPageAUT.RegestrationPageAUT.RegestrationPageAut@1753acfe]">registeringuser_byvarying_pwdandconpwd</td> 
  <td>main@446073433</td>   <td></td> </tr>
</table>
